*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding:30px 100px;
}

body{
    font-family: Roboto sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100vh;
    padding-bottom: 20px;
}

header{
    background-color: #F4A460;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative ;
}

.headerGroupBlock{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.headerTitleName{
    font-family: "Comic Sans MS";
    font-style: italic;
    font-size: 36px;
    color: #3a1414;
    text-align: center;
}

/*search input & buttons styles*/
.searchGroup{
    margin-top: 20px;
    position: relative;
}

.searchInput{
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    width: 30%;
    outline: none;
    min-width: 300px;
}

.searchBtn {
    height: 28px;
    width: 40px;
    border-radius: 10px;
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
    border: 1px solid #D3D3D3;
    background: #D3D3D3;
    transition: all .4s ease-in-out;
}

.searchBtn:hover{
    border: 1px solid grey;
}

.searchBtn:active{
    border: 2px solid grey;
}

.searchBtn img{
    height: 100%;
}

.btn{
    border: 1px solid #D3D3D3;
    padding: 10px;
    border-radius: 17px;
    cursor: pointer;
    background: #D3D3D3;
    transition: all .3s ease-in-out;
}

.btn:hover{
    box-shadow: 0 10px 6px 0 rgba(0,0,0,0.24), 0 10px 20px 0 rgba(0,0,0,0.19);
    transform: translate(-3px, -3px);
}

.btn:active{
    box-shadow: none;
}

.favouriteBtnContainer{
    transition: all .3s ease-in-out;
    position: absolute;
    right: 10%;
    bottom: 20%;
    font-size: 22px;
}

.favouriteBtnContainer:hover{
transform: translate(-2px, -2px);
}

.favouriteBtnContainer:active{
    transform: translate(0, 0);
}

.recentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
    min-height: 30px;
    flex-wrap: wrap;
    margin: 10px 0;
}

.recentEl{
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    cursor:pointer;
    border: 1px solid transparent;
    transition: all .2s ease-in-out;
}

.recentEl:hover{
    background-color: #D3D3D3;
    transform: translate(-2px, -2px);
}

.recentEl:active{
    transform: translate(0, 0);
}

.errorMessage{
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
}

.beerResultContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    width: 100%;
    min-width: 400px;
}

.beerDiv{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: rgba(211,211,211, 0.6);
    color: black;
}

.beerTitle{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.beerImgContainer{
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.beerImg{
    text-align: center;
    max-height: 500px;
}

.beerDescription{
    font-size: 20px;
    padding: 10px 20px;
}

.beerPrice{
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

.mainSection{
    width: 100%;
    min-height: 100vh;
    background-image: url("img/beerBackground2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 110px 0 60px;
    position: relative;

}

.errorMessage{
    padding: 40px;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: rgba(211,211,211, 0.6);
}

.addMoreBtn{
    background-color: #F4A460;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
    display: none;
}

.noMoreData{
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.noDataModal{
    margin: 0 auto;
    background-color: white;
    color: #000;
    padding: 50px;
}

.arrowUp {
    border-radius: 50%;
    position: fixed;
    height: 50px;
    width: 50px;
    cursor: pointer;
    opacity: 1;
    transition: all .4s ease-in-out;
    max-width: 50px;
    max-height: 50px;
    right: 100px;
    bottom: 100px;
}

.arrowUpHide{
    opacity: 0;
}

.addBtn {
    position: absolute;
    text-align: center;
    right: 5px;
    top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 0;
    width: 70px;
    cursor: pointer;
    background-color: white;
    transition: all .4s ease-in-out;
}

.addBtn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: 1px solid transparent;
}

.addBtnActive {
    border: 1px solid white;
    background-color: red;
    color: white;
}

.modalFavourites{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
}

.favouritesContent{
    z-index: 6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: relative;
    background-color: #fff;
    width: 700px;
    height: 500px;
    top: 110px;
    margin: 0 auto;
    padding: 30px;
    overflow-y: auto;
}

.beerDivModal{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: rgba(211,211,211, 0.6);
    color: black;
    transition: all .4s ease-in-out;
}

.beerDivModal:hover{
    border: 1px solid black;
    transform: translateX(-2px);
}
.contentContainerModal{
    display: flex;
    align-items: center;
}

.beerTitleModal{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.beerImgContainerModal{
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beerImgModal{
    text-align: center;
    max-height: 240px;
}

.beerDescriptionModal{
    font-size: 16px;
    padding: 10px 20px;
}
.beerPriceModal{
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

.RemoveBtn{
    position: absolute;
    padding: 10px;
    font-size: 18px;
    right: 30px;
    top: 30px;
    border: 1px solid black;
    cursor: pointer;
    transition: all .4s ease-in-out;
    border-radius: 10px;
}

.RemoveBtn:hover{
    background-color: red;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: 1px solid transparent;
}

